@font-face {
    font-family: 'GveretLevinAlefAlefAlef-Regular';
    src: url('../fonts/GveretLevinAlefAlefAlef-Regular.eot') format('embedded-opentype');
    src: url('../fonts/GveretLevinAlefAlefAlef-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'MPLUSRounded1c-Black';
    src: url('../fonts/MPLUSRounded1c-Black.eot') format('embedded-opentype');
    src: url('../fonts/MPLUSRounded1c-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'MPLUSRounded1c-Bold';
    src: url('../fonts/MPLUSRounded1c-Bold.eot') format('embedded-opentype');
    src: url('../fonts/MPLUSRounded1c-Bold.ttf') format('truetype');
}
/*נגישות*/
#skiptopcontent, #skiptopcontent:visited {
    z-index: 20;
    position: absolute;
    width: 70px;
    text-align: center;
    height: 50px;
    background-color: #145566;
    color: #B5D6CA;
    top: -1000px;
    overflow: hidden;
    font-size: 18pt;
    padding: 10px 20px;
}
    #skiptopcontent:focus {
        top: 0px;
    }
#accessibility {
    position: relative;
    top: 100px;
}
    #accessibility img {
        position: absolute;
        width: 50px;
    }
    #accessibility a img {
        display: none;
    }
    #accessibility:hover a img, #accessibility a:focus img {
        display: block;
    }
#content {/*כדי שלא יוסתר על ידי תפריט הניווט*/
    position: absolute;
    top: -120px;
}
/*הגדרות דף*/
body {
    direction: rtl; /*כיוון טקסט ימין-שמאל*/
    margin: 0 auto; /*שלא יהיה מרווח בין התוכן לקצוות*/
    width: 1280px; /*גודל תצוגה*/
}
/*למעלה*/
header {
    position: fixed; /*משאיר את החלק העליון בזמן גלילה*/
    width: 1280px; /*רוחב*/
    z-index: 10; /*מעביר את התפריט ניווט לשכבה העליונה*/
}
    header img {
        height: 90px;
        margin-right: 10px; /*מרחק מצד ימין*/
        margin-top: -10px; /*מעלה למעלה קצת את הלוגו*/
    }
#white {
    height: 75px;
    box-shadow: white 0px 20px 10px 10px; /*מוסיף צל לבן למטה כדי להבדיל בין התפריט ניווט לתוכן*/
}
#turkiz {
    background-color: #B5D6CA; /*יוצר בלוק טורקיז*/
    height: 75px;
    box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.3); /*נותן צל לבלוק*/
}
ul, ol {
    list-style: none; /*מוריד תבליטים*/
}
/*תפריט ניווט ראשי*/
#mainNav li a {
    color: #182F50;
    text-decoration: none;
}
#mainNav > ul {
    position: absolute; /*מעביר את זה לפינה של האלמנט שעוטף אותו*/
    left: 30px; /*פיקסלים מהצד השמאלי*/
    top: 30px; /*פיקסלים מלמעלה*/
    margin-left: 50px; /*מרחק בין האלמנטים*/
}
    #mainNav > ul > li { /*רק לבנים ישירים בהיררכיה*/
        display: inline-block; /*כל הבלוקים באותה השורה*/
        margin-left: 10px;
        box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.3); /*צל לבלוקים*/
    }
#mainNav ul li ul { /*היררכיה- הרשימה שבתוך האלמנטים ברשימה (הניווט הפנימי)*/
    display: none; /*לא להציג*/
    position: absolute;
}
#mainNav ul li div { /*הגדרות של הבלוקים*/
    background-color: #FFD143;
    width: 80px;
    color: #182F50;
    font-size: 14pt;
    font-family: MPLUSRounded1c-Black;
    padding: 10px 5px; /*ריפוד- מרחק של האלמנט לאלמנטים שהוא עוטף*/
    text-align: center;
}
    /*אינטראקציות ניווט*/
    #mainNav ul li div:hover, #mainNav ul li a:focus div { /*מה קורה לבלוק במעבר עכבר או בפוקוס מקלדת*/
        background-color: #145566;
        color: #B5D6CA;
    }
#mainNav ul li:hover ul, #mainNav ul li a:focus ul { /*פתיחת הרשימה המשנית*/
    display: block;
    box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.3);
}
    #mainNav ul li:hover ul li, #mainNav ul li a:focus ul li { /*הגדרות של הבלוקים ברשימה המשנית*/
        display: block;
        margin-right: -40px;
    }
#mainNav #that {/*הדף הנוכחי*/
    background-color: #145566;
    color: #B5D6CA;
}
/*תפריט פירורי לחם*/
#breadCrumbs {
    position: fixed;
    z-index: 11; /*שם מעל לתפריט הניווט*/
}
    #breadCrumbs a, #breadCrumbs a:visited { /*מגדיר את הקישורים, visited-לאחר שלוחצים על הקישור*/
        color: #467E6A;
        font-size: 12pt;
        font-family: MPLUSRounded1c-Bold;
        transition: 1s;
    }
        #breadCrumbs a:hover, #breadCrumbs a:focus {
            font-size: 14pt;
        }
    #breadCrumbs ol {
        position: relative; /* שם אותו מיד אחרי האלמנט שעוטף אותו*/
        top: 80px;
        right: 20px;
    }
        #breadCrumbs ol li {
            display: inline-block; /*כולם באותה שורה*/
            font-family: MPLUSRounded1c-Bold; /*פונט*/
            font-size: 12pt;
            color: #467E6A;
        }
            #breadCrumbs ol li:first-child:after {
                content: ">"; /*מוסיף > בין האלמנטים*/
            }
/*תוכן הדף*/
article {
    position: relative;
    top: 140px;
    right: 300px; /*מזיז את כל התוכן ימינה מהזף- בגלל הניווט*/
    color: #145566;
}
p {
    font-size: 18pt;
    font-family: MPLUSRounded1c-Black;
    width: 600px; /*רוחב החלק - כדי להתאים לעיצוב*/
}
h3 {
    font-size: 14pt;
    font-family: MPLUSRounded1c-Black;
}
h1 {
    font-family: MPLUSRounded1c-Black;
    font-size: 32pt;
    color: #182F50;
}
hr { /*הקו המפריד- מוגדר קו מתאר של קיוקו ירוק בהיר וגובה 0 כדי שיהיו ריבועים ירוקים*/
    margin-top: 30px;
    border: 3px dashed #B5D6CA;
    height: 0px;
    width: 600px;
}
.darkturquoise { /*הפרדות טורקיז של כותרות*/
    margin-top: 35px;
    background-color: #145566;
    width: 950px;
    padding: 20px 30px 25px 0px;
}
h2 { /*הכיתוב בתוך הטורקיזים*/
    color: white;
    font-family: MPLUSRounded1c-Black;
    font-size: 20pt;
}
/*הגדרות טופס*/
form {
    right: 30px;
    position: relative;
    top: 30px;
    font-family: MPLUSRounded1c-Bold;
    font-size: 14pt;
}
label,#rate {
    font-family: MPLUSRounded1c-Bold;
}
#rate {
    margin-top: 5px;
}
    #rate input {
        margin-top: 10px;
        width: 30px;
        margin-right: -55px;
    }
    #rate img {/*כוכבים*/
        width: 50px;
        height: 50px;
        margin: 10px 0px 10px 10px;
        display: inline-block;
    }
input, select,textarea {
    border-radius: 10px;
    border: 1.5px solid #B5D6CA;
    margin-bottom: 10px;
    margin-top: 5px;
    width: 250px;
}
#send{
    margin-top: 20px;
    width: 100px;
}
    #send:hover, #send:focus {
        background-color: #B5D6CA;
    }
/*תמונות אווירה*/
#solider {
    margin-top: -275px;
    float: left;
    left: 100px;
    position: relative;
    width: 300px;
    height: 700px;
    background-repeat: no-repeat;
    background-size: 300px;
    background-image: url('../images/about/חיילת מצדיעה.png');
}
#solider p{
    position: absolute;
    text-align: center;
    color: #145566;
    font-family: GveretLevinAlefAlefAlef-Regular;
    width: 130px;
    top: 20px;
    right: 20px;
    font-size: 16pt;
}
#dati {
    margin-top: -200px;
    float: right;
    right: 0px;
    position: relative;
    width: 200px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: 200px;
    background-image: url('../images/about/דוס.png');
}
    #dati p {
        position: absolute;
        text-align: center;
        color: #145566;
        font-family: GveretLevinAlefAlefAlef-Regular;
        width: 130px;
        top: 70px;
        right: 80px;
        font-size: 16pt;
    }
/*מפת אתר*/
footer {
    position: relative;
    top: 230px;
    bottom: 0px;
    z-index: 10; /*כדי שאף אלמנט לא יסתיר אותה*/
    width: 1280px;
    height: 130px;
    background-color: #B5D6CA;
    padding-top: 30px;
    padding-bottom: 10px;
}
    footer > ul {
        position: absolute;
    }
    footer ul li, footer ul li a {
        color: #182F50;
        font-family: MPLUSRounded1c-Bold;
        font-size: 14pt;
    }
    footer ul li {
        display: inline-block;
        width: 160px;
        float: right;
        margin-right: 45px;
    }
    footer a, footer a:visited {
        color: #182F50;
        transition: 1s;
    }
        footer a:hover, footer a:focus {
            font-size: 15pt;
        }
    footer ul li ul {
        position: absolute;
        display: block;
        margin-right: -85px;
    }
        footer ul li ul li {
            display: block;
            clear: both;
            margin-top: 5px;
        }
    footer > ul > li, footer > ul > li > a {
        font-family: MPLUSRounded1c-Black;
    }
#freepik {
    position: absolute;
    right: 890px;
    bottom: 20px;
    font-family: MPLUSRounded1c-Bold;
    font-size: 12pt;
}
    #freepik a span {
        font-family: MPLUSRounded1c-Bold;
        font-size: 12pt;
    }

#add {
    font-family: GveretLevinAlefAlefAlef-Regular;
    font-size: 18pt;
}
/*קישורים לא עובדים/לא קיימים*/
.notallowed {
    text-decoration: none;
    cursor: not-allowed; /*מגדיר שאי אפשר להיכנס לקישור קיים*/
}
.forFocus {
    text-decoration: none;
    cursor: unset; /*מגדיר שאי אפשר להיכנס לקישור קיים*/
}
